/* Keyframes for Whole app*/
@keyframes reveal {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-reveal {
  opacity: 0; /* Keeps element hidden before animation starts */
  animation: reveal 0.8s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

